:root {
  --primary: red;
  --secondary: green;
}

header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
 }

header nav h1 {
  font-size: 25px;
  margin-right: auto;
  }

header nav a{
  font-size: 20px;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
}

header nav a.active {
  background: var(--primary);
}