:root {
  --primary: red;
  --secondary: green;
}

#item {
  height: 250px;
  width: 250px;
  background-color: red;
  border-radius: 15px;
  border: 5px solid black;
  margin: 50px;
}

.Modal {
  background-color: rgb(255, 255, 255);
  height: 75%;
  width: 50%;
  border: solid 5px black;
  border-radius: 15px;
  position: fixed;
  top: 13%;
  left: 25%;
}

.Overlay {
  background-color: black;
}

header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
 }

header nav h1 {
  font-size: 25px;
  margin-right: auto;
  }

header nav a{
  font-size: 20px;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
}

header nav a.active {
  background: var(--primary);
}