@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Global Styles */
:root {
   --primary: #f75c27;
  --secondary: #333;
  --spacing-one: 10px;
  font-family: "Roboto";
  background-color: #EADBC8;
}

/* Layout Styles */
.container {
  max-width: 400px;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.Modal {
  background-color: var(--primary);
  height: 75%;
  width: 50%;
  border: solid 5px black;
  border-radius: 15px;
  position: fixed;
  top: 13%;
  left: 25%;
}

.Overlay {
  background-color: black;
}

header {
  border-radius: 10px;
  padding: 10px;
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  margin-right: 10px;
}

/* Navbar Styles */
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

nav a:hover {
  color: var(--primary);
}

h1 {
  display: flex;
  align-items: center;
  margin-right: auto;
}

nav {
  margin-left: auto;
}
/* Product Page */
.product-box a{
  color: var(--secondary)
}
.product-box img{
  transition: 1s ease;
}
  .product-box img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
  }

/* Utility Classes */
.flex-row {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

/* Sign up/Login pages*/
.signup-login {
  height: auto;
  max-width: 400px;
  margin: 5% auto;
  top: 50%;
  left: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  background-color: #fff;
}

.signup-login h2{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.signup-login input  {
  font-size: 17px;
  border: 1px solid #ddd;
  border-radius: 6px;
 padding:  15px;
 margin: 2px;
 outline: none;
}

.signup-login input:focus{
  box-shadow: 0 1px 0 rgba(0,0,0,0.3);
}
 .signup-login button {
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  color: #fff;
  font-size: 20px;
  background-color: var(--primary);
  border: none;
 }
 .signup-login button:hover{
  border: 1px black solid;  
   }

/* Card and Buttons Styles */
.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.card {
  width: 25%;
  text-align: center;
}

.addToCartBtn,
.categoryBtn {
  background-color: rgb(228, 84, 7);
  color: white;
  border-radius: 4px;
  padding: 4px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 5px;
}
.category-box  {

  color: var(--secondary)
}

.categoryBtn {
  background-color: rgb(228, 40, 7);
  font-size: 18px;
}

.product-box {
  
  color: var(--secondary)
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
  .flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 100%;
    text-align: center;
  }
  div.slick-slider {
    display: none;
  }
  .featured {
    display: none;
  }
  nav {
    margin-left: inherit;
  }
}
